@import url("htttps://fonts.googleapis.com/css2?family=Poopins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poopins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/loginAssets/background2.gif);
    background-size: cover;
    background-position: center;
}

.wrapper {
    margin-top: 10%;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper .input-box {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}